<html>
    <header>
        <title>Hello-K8s</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </header>
    <body>
        <div class="container">
            <div class="jumbotron" align="center">
                <h1>Hello-K8s</h1>
                <hr class="my-4">
                <p>Leave us a kind message !</p>
            </div>
            <form method="POST" action="/">
                <div class="form-group">
                    <label for="inputMsg">Leave us a kind message</label>
                    <input type="text" class="form-control" id="inputMsg" aria-describedby="msgHelp" placeholder="Your message" name="msg" required>
                    <small id="msgHelp" class="form-text text-muted">We love your messages</small>
                </div>
                <button type="submit" class="btn btn-secondary">Send message</button>
            </form>            
            
            <div align="center">
                <em><h3>Your messages</h3></em>
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            </div>
        </div>

        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    </body>
</html>