certifi==2019.3.9
chardet==3.0.4
Click==7.0
entrypoints==0.3
flake8==3.7.7
Flask==1.0.2
greenlet==0.4.15
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack==0.6.1
neovim==0.3.1
powerline-status==2.7
pycodestyle==2.5.0
pyflakes==2.1.1
pynvim==0.3.2
requests==2.21.0
urllib3==1.24.2
Werkzeug==0.15.2
